<h1>Edit Task</h1>
<div class="col-md-offset-1 col-md-10">
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">

        <div class="row">
           
           <div class="form-group col-md-3">
                <label for="Description">Description</label>
                <input type="text" class="form-control" required [(ngModel)]="editedItem.Description" name="Description" #Description>
            </div>

             <div class="form-group col-md-2">
                <label for="Priority">Priority</label>
                <select class="form-control" required [(ngModel)]="editedItem.PriorityId" name="Priority">
                    <option *ngFor="let p of priorities" [value]="p.Id">{{p.PriorityLevel}}</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label for="Class">Class</label>
                <input type="text" class="form-control" [(ngModel)]="editedItem.Class" name="Class">
            </div>

            <div class="form-group col-md-2">
                <label for="DueBy">Due By</label>
                <input type="date" class="form-control" [(ngModel)]="editedItem.DueBy" name="DueBy">
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-xs btn-primary" [disabled]="!editForm.form.valid"><i class="fa fa-plus"></i> Done</button>
                <button class="btn btn-xs btn-danger" routerLink="/todo"><i class="fa fa-minus"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>