
<div class="well well-sm">
    <a (click)="showAddSubItemClicked()"><i class="fa fa-plus" title="Add sub task"></i></a>
    <input *ngIf="showAddSubItem && item.Id==showAddSubItemId" type="text" placeholder="Enter sub task to add..." [(ngModel)]="subItemDescription"/>
    <a *ngIf="subItemDescription && showAddSubItem && item.Id==showAddSubItemId" (click)="AddSubItem(item.Id)"><i class="fa fa-save" title="Save"></i></a>
    
    <div *ngFor="let si of item.SubItems">
        <span>{{si.Description}}</span>
        <div class="pull-right">
            <a (click)="RequestForDelete(si.Id)"><i class="fa fa-trash" title="Delete"></i></a>
        </div>
        <app-areyousure *ngIf="subItemToBeDeleted == si.Id" [que]="'Are You Sure?'" (notifyYes)="DeleteSubItem(si)" (notifyNo)="CancelDelete()"></app-areyousure>
    </div>
</div>

<!--{{diagnostic}}-->